
.cabezeraPyme{
 background-image: url(../img/fondopime.png);
 background-position: center;
 background-size: cover;
 
    nav{
        background-color: rgba(54, 53, 53, 0.3);
        a{
            font-size: map-get($font-s, s);
            color: map-get($font-c, main);
        }
        
        
    }   
 
}
.cuerpoPyme{
 background-color: map-get($bg-color, pyme );
    &::-webkit-scrollbar{
        width: 10px;        
    }
    &::-webkit-scrollbar-thumb{
        background-color: map-get($bg-color, second );
        border-radius: 50px;
    }
}
.pyme{
    
    div{
        
        h1{
            font-size: 60pt;
            font-weight: map-get($font-w, xl );
            color: map-get($font-c, main );
        }
        h2{
            font-size: 40pt;
            background-color: map-get($bg-color , second );
            padding: 0.2em;
            width: auto;
            text-align: center;
            
        }
    }
}

.botonPyme{
    @include button-style(1pt,10px,pyme,0.5em,main);
}
.producto{
    background-color: map-get($bg-color, pymeAlt );
    padding: 1em;
    .prodBorder{
        border: 1pt solid white;
        border-radius: 15px;
        
    }
}
.sectionPyme{
    h2{
        font-size: map-get($font-s, xxl );
        color: map-get($font-c, main );
        padding: 1em;
    }
    p{
        font-size: map-get($font-s, l );
    }
    img{
        border-radius: 15px;
    }
}
.pie_pyme{
    background-color: rgba(54, 53, 53, 0.3);
}
.mapa{
    border: 1pt solid black;
    border-radius: 10px;
    align-self: center;
   
}